:root {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #3844a9;
  --bg-light: #f8f8f8;
  --bg-alto: #dedede;
  --color-silver: #ccc;
  --color-dark: #111;
  --color-mineshaft: #333;
  --color-dovegray: #666;
  --color-textgray: #646464;
  --color-red: #c62323;
  --color-orange: #e8a046;
  --color-blue: #2d6ec2;
  --color-hover-btn: #2A337F; }

:root {
  --timing-function: cubic-bezier(0.7, 0.84, 0.97, 0.74); }

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

html {
  box-sizing: border-box; }

body {
  position: relative;
  height: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

nav, footer, header, aside {
  display: block; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer;
  display: inline-block;
  background: none;
  line-height: inherit;
  color: inherit;
  border: none; }

input {
  line-height: inherit;
  border: none; }

img {
  vertical-align: middle;
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none; }

input::-moz-placeholder {
  color: inherit;
  background-color: inherit; }

input:-ms-input-placeholder {
  color: inherit;
  background-color: inherit; }

input::placeholder {
  color: inherit;
  background-color: inherit; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

polyline, svg path {
  fill: inherit;
  stroke: inherit; }

address {
  font-style: normal; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

button.focus-visible, a.focus-visible, input.focus-visible {
  outline: 2px solid #000; }

.site-container {
  overflow: hidden; }

.is-hidden {
  display: none !important; }

.hide-scroll {
  overflow: hidden; }

.for-mobile {
  display: none; }
  @media (max-width: 1024px) {
    .for-mobile {
      display: block; } }

.for-desktop {
  display: none; }
  @media (min-width: 1025px) {
    .for-desktop {
      display: block; } }

.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0); }

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  margin: 0;
  background-color: #fff; }
  @media (min-width: 1025px) {
    body {
      overflow: auto !important; } }

.container {
  --content-offset: 20px;
  max-width: calc(1368px + 2 * var(--content-offset));
  margin: 0 auto;
  padding: 0 var(--content-offset); }

.burger {
  --burger-width: 20px;
  --burger-height: 14px;
  --burger-line-height: 2px;
  --burger-color: #fff;
  position: relative;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--burger-color); }
  .burger__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-50%);
    background-color: var(--burger-color); }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    background-color: var(--burger-color); }
  .burger::before {
    top: 0; }
  .burger::after {
    top: calc(100% - var(--burger-line-height)); }
  .burger.active .burger__line {
    transition: transform 0.3s ease-in-out;
    transform: scale(0.01); }
  .burger.active::before {
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transform: rotate(45deg); }
  .burger.active::after {
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transform: rotate(-45deg); }

/*# sourceMappingURL=style.css.map */
