// ==!> Colors <!==
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #3844a9;
  --bg-light: #f8f8f8;
  --bg-alto: #dedede;
  --color-silver: #ccc;
  --color-dark: #111;
  --color-mineshaft: #333;
  --color-dovegray: #666;
  --color-textgray: #646464;
  --color-red: #c62323;
  --color-orange: #e8a046;
  --color-blue: #2d6ec2;
  --color-hover-btn: #2A337F;
}
:root {
  --timing-function: cubic-bezier(0.7, 0.84, 0.97, 0.74);
}

